.c-content {
    width: 820px;
    height: auto;
    margin: 20px auto;
    font-family: sans-serif;
}

.c-profile {
    display: flex;
    width: 740px;
    height: auto;
    margin:0 auto 44px;
    padding: 10px;
}

.m-profile-img {
    display: block;
    width: 172px;
    margin-right: 30px;
}
.m-profile-img img{
    width: 165px;
    height: 165px;
}

.m-profile-id{
    font-size: 20px;
    margin-bottom: 12px;
}

.c-profile-number ul {
    display: flex;
    flex-direction: row;
}

.c-profile-number li{
    width: 33%;
    height: 70px;
}

.c-profile-number li span {
    display: block;
}

.c-profile-number .number{
    margin-bottom: 6px;
    font-size: 20px;
}

.c-profile-number .label{
    color: #ababab;
    font-size: 14px
}

.c-profile-number .label .number {
    color: #000;
}

.c-profile-text .name{
    margin-bottom: 12px
}
.c-profile-text .text {
    margin-bottom: 12px;
}

.m-profile-btn div {
    display: inline-block;
    background-color: #aaaaaa;
    color: #fff;
    padding: 2px;
    font-size: 14px;
    width: 200px;
    height: 32px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    margin-top: 24px;
    margin-right: 5px;
    font-weight: bold;
}

.m-post-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between
}

.m-post-column:nth-child(n+2) {
    margin-top: 4px;
}

.m-profile-txt {
    display: block;
    width: 100px;
}

.m-post-img {
    display: block;
    width: 33%;
}

/*modal*/
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 400px;
    background-color: #ffffff;
    display: flex;
}

.modal-picture {
    height: 400px;
    width: auto;
}

.modal-picture img {
    width: 100%;
    height: auto;
}



.modal-close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -40px;
  right: 0;
  transition: 0.3s;
}

.modal-close:hover {
  opacity: 0.7;
}

.modal-close::before, .modal-close::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  margin-left: -50%;
  background-color: #fff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.comment {
    margin-top: 30px;
    margin-left: 30px;
    height: 40px;
    display: block;
    line-height: 40px;
    font-family: sans-serif;
}

.comment img {
    width: 40px;
}

.comment span {
    font-size: 14px;
    margin-left: 5px;
}






